<link 
rel="stylesheet"
type="text/css"
href="index.css">
<center class="testing_1">
 <id="menu" class="menu">
 <id="menu-item-1636" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1636 active"><a title="Home" href="index.html">Home</a> <id="menu-item-1847" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1847"><a title="Portfolio" href="about.html">About</a><id="menu-item-1639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1639 dropdown"><a title="About The Tests" href="userinput.rb"> How to Help</a> <id="menu-item-1639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1639 dropdown"><a title="About The Tests" href="the_team.html"> Meet the Team</a>
</center>
 <center>
  <h2>Human Impacts & Conservation Efforts</h2>
    <body>
 Naturally, we all impact the world in some way, shape or form. In some ways, we are permanently altering our environment.It is imperitive that we as humans ensure the world we live in remains healthy because the state of the Earth affects every organism. The conservation of our environment has become increasingly more important with global warming. This in turn,strengthening natural disasters. The lasting effects we are imposing on our planet become more pronounced with every year that passes. While protecting our environment will take unprecedented effort,it is more than worth it to  not only to improve our quality of life but to also ensure a future for those who come after us. 
    Things like green house gases, deforestation and the burning of fossil feuls contribute to global warming which makes for more powerful, destructive hurricanes. Global warming is almost a direct result of green house emissions that linger in the atmosphere blocking the release of heat. It's these man-made issues that heighten the risk for natural disasters and destablize entire communities.
    <p>
    </body>
  </center>
  <p>
    <br>
  <center>
  <h2>The Impact of Natural Disasters</h2>
    <body class=testing>
      Natural Disasters devastate communities and states. A high death toll and millions of dollars of damge are commonplace for hurricanes.An example of the potential threat hurricanes pose is Hurricane Maria in Puerto Rico. It left a death toll of 4,645 people! Generally, The "eye"(center) of a hurricane can be about 20 miles of a diameter! The diameter of an entire hurricane is about 400 to 500 miles! That's about the distance from San Francisco, CA to Anaheim, CA! 
    <p>
    <img src="http://i67.tinypic.com/2i721cx.png" height="279" width="261.5">
    <p> 
    Hurricanes' disatrous potential doesn't end with property damage. Hurricanes are able to to raise the height of ocean tides.The average tide is 2 feet, whereas the tides affected by hurricanes can grow over fifteen feet high. One of things that cause the most damage that are a result of hurricanes is Storm Surge.Storm Surge is when the strong winds of a hurricane can push water up and onto land. This water can cause major flooding and damage to homes, cars, and boats.The combination of the storm surge caused by the hurricane combined with the heightened tide creates a storm tide.  Sometimes, hurricanes can cause floods due to the rise in the tide with the storm surge and because of the heavy amount of rain during a storm. 

    

    <h1>Floods</h1>
    <p>
    Floods are another natural disaster that affect communities negatively. In their wake, they leave damaged homes and hundreds of thousands of repair costs. People have to rebuild their lives from the ground up--quite literally in some cases. Floods can in many ways destroy several aspects of peoples' lives. This includes; property damage, loss of personal belongings, diseases becoming more present in the water (due to the migration of bacteria), and in some cases taking the lives of people or animals.  It's important for people to have flood insurance, especially is they live in a high-risk of flood area, because home-owners insurance doesn't cover the damage of floods.


    <h1>The Dangers of Hurricanes:</h1> 
    <ul>
      <li> Storm Surge and Storm Tide-   Abnormal rise in sea level. Strong winds can move coastal water inland with enough force to wipe out communities and injure people. Major component of hurricane-related flooding and can reach heights of over 20ft.</li>
      <li> Heavy Rainfall and Inland flooding-  Their storms can flood areas hundreds of miles from the coast, accounts for 60% of hurricane-related deaths.</li>
      <li>High speed Winds-  Can range from 74 mph to over 155 mph, turning anything loose into dangerous projectiles. Also can uproot trees/knock them over.Capable of hitting someone.</li>
      <li>Rip Currents-  Strong winds can create them even if the hurricane is miles offshore. They are channeled currents of water that flow away from shore. They can drag even the best swimmers out to sea</li>
      <li>Tornadoes-  More than 50% of hurricanes spawn tornadoes and some of the most powerful hurricane winds come from them. The right-front quadrant produces tornadoes.</li>


      <h1>Key Safety Procedures!</h1>
      <p text-align:"left;"> When it comes to protecting yourself under these conditions, these following guidelines are important to consider:
        <ol>
          <li>Avoid flood prone public areas, stay on high ground.</li>
          <li>The strong winds of the hurricane will blow things around you, stay indoors to avoid injuries.</li>
          <li>Do not drive or be in your car during a hurricane!</li>
          <li>Stay away from standing water, circuits may fall from the hurricane it may be electrically charged causing you to get electricuted.</li>
          <li>Avoid using electronics.</li>
          <li>Beware of Lightning, do not stand by lone trees, and don’t bath or shower during storm.</li>
          <li>Stay away from windows!</li> 
        </ol>
    </body>
  </center>