<link
rel="stylesheet"
type="text/css"
href="index1.css">
<center class="testing_1">
  <id="menu" class="menu">
  <id="menu-item-1636" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1636 active"><a title="Home" href="index.html">Home</a> <id="menu-item-1847" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1847"><a title="Portfolio" href="about.html">About</a>
   <id="menu-item-1639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1639 dropdown"><a title="About The Tests" href="userinput.rb"> How to Help</a>    <id="menu-item-1639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1639 dropdown"><a title="About The Tests" href="the_team.html"> Meet the Team </a>
   </center>
  <head> 
    <h1><center><b>Meet the Team</h1> 
    <h2><center>Learn about our mission!</b></h2>
    
  </head>
  <body><center>
    <img src="http://i68.tinypic.com/mvj214.jpg" height="504" width="378">
    <img src="http://i63.tinypic.com/w1fsrt.png"
    height="504" width="378">
    <img src="http://i63.tinypic.com/123wpxd.png" height="504" width="378"</center>
    <p>Hi! We are Christina, Josephine, and Layaly! All of us are deeply passionate about disaster relief, conservation efforts, reducing our carbon footprint and overall impact on the planet, and humanitarian aid. Often, human actions are the culprit behind devastating natural disasters such as hurricanes and typhoons. We were driven to create a resource that not only aided people that were displaced, but also those who had the uncontrollable desire to help those affected by natural disasters. Our mission is to help those who are affected living in the NYC-metro area and make their road to recovery as smooth as possible. </p> </body>